<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <h1>Edit Data</h1>
<body>
    <div class="container3">
        <form action="" method="POST">
            <label for="string">String</label>
                <input type="text" name="string" value="<%= item.string %>" id="string" placeholder="String">
            <label for="integer">Integer</label>
                <input type="number" name="integer" value="<%= item.integer %>" id="integer" placeholder="Integer">
            <label for="float">Float</label>
                <input type="number" step="0.01" name="float" value="<%= item.float %>" id="float" placeholder="Float">
            <label for="date">Date</label>
                <input type="text" name="date" value="<%= item.date %>" id="date" placeholder="End Date">
            <label for="boolean">Boolean</label>
                <select name="boolean" id="boolean">
                    <option selected disabled>Choose the boolean ...</option>
                    <option value="true" <%= item.boolean == 'true' ? ' selected' : '' %> >true</option>
                    <option value="false" <%= item.boolean == 'false' ? ' selected' : '' %> >false</option>
                </select>
                <button class="btn-styling3" type="submit">Update</button>
        </form>
    </div>
</body>
</html>